<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angularjs TODO</title>
    <meta name="description" content="Angularjs TODO">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
</head>
<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div ng-app="ToDo" ng-controller="TodoCtrl">
        <form name="userForm" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">

                <input class="add-input" placeholder="I need to..." type="text" ng-model="formTodoText" name="name" class="form-control" ng-model="user.name" required/>
                <button class="add-btn" ng-disabled="userForm.$invalid" ng-click="addTodo()">Add</button>

            </div>
        </form>
        <ul>
            <li ng-repeat="todo in todos">
                <input type="checkbox" ng-model="todo.done"/>
                <span class="done-{{todo.done}}">{{todo.text}}</span>
            </li>
        </ul>      
    </div>

     <script src="js/plugins.js"></script>
     <script src="js/main.js"></script>
 </body>
 </html>
