/* ==========================================================================
   Custom Styles
   ========================================================================== */

$white: #ffffff;
$disabled-green: #17a68b;
$active-green: #049a7e; 
$light-grey: #f8f8f8; 
$dk-grey: #ccc;

.container {
	width: 100%;
	max-width: 1100px;
	padding: 0;
}

.done-true {
  color: $dk-grey;
}

.add-btn:before {
    content: "+";
    font-weight: 800;

    @media screen and (min-width: 475px) {
    	content: "Add To-do";	
    	font-weight: 400;
    }
}

ul {
	list-style-type: none;
	padding-left: 0;

	li {
		padding: 15px 0;
		border-bottom: 1px solid $dk-grey;
	}
}

.col-lg-12 {
	padding: 15px;
	border-bottom: 1px solid $dk-grey;
	background-color: $light-grey;
	float: none;
}

input[type=checkbox] {
	margin: 0 15px;
}

.btn-default {
	color: $white;
	background-color: $disabled-green;

	&[disabled] {
		background-color: $disabled-green;

		&:hover {
			background-color: $active-green;
			color: $white;
		}
	}

	&:hover {
		background-color: $active-green;
		color: $white;
	}
}
